<% content_for :title do %>
  Novo Unidade medida
<% end %>

<div class="page-header">
  <h1>Novo Unidade medida</h1>
  <%= link_to unidade_medidas_path, class: 'btn btn-outline-secondary' do %>
    <%= icon 'fas', 'bars' %>
    Voltar
  <% end %>
</div>

<%= render 'form' %>
